<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect /public URLs to root (optional double safety)
    RewriteRule ^public(/.*)?$ / [R=301,L]

    # Send all requests to Laravel front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<FilesMatch "\.(env|config|ini|log|git|sql|sh|bash)$">
    Require all denied
</FilesMatch>
TraceEnable off
