  RewriteEngine On

  RewriteCond %{THE_REQUEST} "\s/public([/?#\s]|$)" [NC]
  RewriteRule ^ - [R=403,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]

Options -Indexes

